# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/

# testing
/coverage

# cypress
cypress/screenshots
cypress/videos

# next.js
/.next
/out

# next-sitemap
public/robots.txt
public/sitemap.xml
public/sitemap-*.xml

# cache
.swc/

# production
/build

# misc
.DS_Store
*.pem
Thumbs.db

# diginext
.fw/
optimizer/node_modules/
optimizer/yarn.lock

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn
.yarnrc
.yarnrc.yml
.yarn-integrity
yarn.lock
.pnp.cjs
.pnp.loader.mjs
package-lock.json
pnpm-lock.yaml


# dotenv local files
.env
.env*.local

# local folder
local

# vercel
.vercel


# Storage
storage
public/uploads

/public.__image-compressed__
/log
.temp
.temp*

# Deployment
deployment/deployment_dev1.yml
deployment/deployment_dev1.yaml

# build & release framework
gcloud-service-account.json

*-compressed_image

public/**/*-webp/
public/**/*-thumb-webp/