@tailwind base;
@tailwind components;
@tailwind utilities;

/* $font-family-base: "Plus Jakarta Sans", sans-serif; */

@layer base {
	/* * {
		font-family: $font-family-base;
	} */

	h1 {
		font-size: 2.5rem; // 40px
		line-height: 3rem; // 48px
		font-weight: 700;
	}

	h2 {
		font-size: 2rem; // 32px
		line-height: 2.5rem; // 40px
		font-weight: 600;
	}

	h3 {
		font-size: 1.75rem; // 28px
		line-height: 2.25rem; // 36px
		font-weight: 500;
	}

	h4 {
		font-size: 1.5rem; // 24px
		line-height: 2rem; // 32px
		font-weight: 500;
	}

	h5 {
		font-size: 1.25rem; // 20px
		line-height: 1.75rem; // 28px
		font-weight: 500;
	}

	p {
		font-size: 1rem; // 16px
		line-height: 1.5rem; // 24px
		font-weight: 400;
	}

	span {
		font-size: 0.875rem; // 14px
		line-height: 1.25rem; // 20px
		font-weight: 400;
	}

	a {
		@apply text-[#4D62E5];
	}
}

@layer components {
	.fixedCenter {
		@apply fixed -translate-y-1/2 -translate-x-1/2 top-1/2 left-1/2;
	}

	.btnMain {
		@apply text-white pointer-events-auto rounded-md py-2 px-4 m-2 border-white border-2 border-solid duration-300;
	}
}

.modal {
	display: none;
}

.modal[open] {
	display: grid !important;
}
